// Color Palette
$color-primary: #1A2C64;
$color-accent: #5468E2;
$color-orange: #F7951E;
$color-white: #FFFFFF;
$color-light-gray: #F7F7F7;
$color-card-bg: #F8F8FE;
$color-footer: #22252D;
$color-text-dark: #1B1B1B;
$color-text-gray: #505050;
$color-text-black: #020818;

// Typography
$font-family: 'Montserrat', sans-serif;

// Container
$container-max: 1200px;

// Breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-small: 480px;
