@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.cta {
    min-height: 554px;
    background-image: url('/images/CTA.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    @include tablet {
        padding: 40px 20px;
    }

    @include mobile {
        min-height: 640px;
        padding: 40px 20px;
    }
}

.container {
    @include container;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
        flex-direction: column;
        gap: 40px;
    }
}

.content {
    width: 60%;
    padding-right: 80px;

    @include mobile {
        width: 100%;
        padding-right: 0;
    }
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-white;
    display: block;
    margin-bottom: 10px;

    @include tablet {
        font-size: 14px;
    }

    @include mobile {
        font-size: 12px;
    }
}

.title {
    font-size: 56px;
    font-weight: 600;
    line-height: 66px;
    color: $color-white;
    margin-bottom: 20px;

    @include tablet {
        font-size: 26px;
        line-height: 36px;
    }

    @include mobile {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 10px;
    }
}

.description {
    @include body-text;
    color: $color-white;
    margin-bottom: 40px;

    @include mobile {
        margin-bottom: 20px;
    }
}

.imageWrapper {
    width: 40%;

    @include mobile {
        width: 100%;
    }
}

.image {
    min-height: 400px;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
    margin: 60px 0;

    @include mobile {
        min-height: 283px;
        margin: 0;
    }
}